<div class="row">
    <div class="col-lg-5">
        <div class="media">
                <i style="font-size: 40px;" class="pull-left fa fa-file-{{ document.extension }}-o"></i>
            <div class="media-body">
                <h4 class="media-heading">
                <a href="{{ path("document_show", {"id": document.id }) }}" style="color:rgb(85, 85, 85)!important;">{{ document.title }}</a> <small>by {{ document.user }}</small></h4>
                <h5>Document: {{ document.originalFileName }} Size: {{ document.size }}; Created: {{ document.createdAt|date("d.m.Y") }}; </h5>
            </div>
        </div>
        <hr />
    </div>
</div>