{% extends "AppBundle::layout.html.twig" %}

{% block subheader_small_title %}Documents{% endblock %}
{% block subheader_big_title %}
	<i class="fa fa-file-{{ document.extension }}-o"></i>
	{{ document.title }}
{% endblock %}

{% block subheader_actions %}
<div class="nz pull-right">
  <a href="{{ path("document_list") }}" class="ce apn">
    <i class="fa fa-arrow-left"></i>
  </a>
  <a href="{{ path("document_download", {'id': document.id}) }}" class="ce apn">
    <i class="fa fa-download"></i>
  </a>
</div>
{% endblock %}

{% block body %}
<p>
<small>
	Document <strong>{{ document.originalFileName }}</strong> created by {{ document.user.username }} on {{ document.createdAt|date("d.m.Y H:i") }}.
	Document size is <strong>{{ document.size|format_bytes }}</strong>.
</small>
</p>
<p class="lead">
	{{ document.description }}
</p>

{% set view = 'flat' %}
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': document.id } %}

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function(){
  var hash = window.location.hash.substring(1);
  var m;
  $(document).on('fos_comment_load_thread', function (event, data) {
    m = $('textarea').mentionsInput({source: Routing.generate('get_usernames')});
    autosize($('textarea'));

    if (hash!='' && !isNaN(hash))
    {
      $('html, body').animate({
              scrollTop: $('#fos_comment_comment_body_' + hash).offset().top
          }, 0);
    }
  });
  $(document).on('fos_comment_submitted_form', function (event, data) {
    $('.highlighter-content').text('');
    setTimeout(function(){
      $('.fos_comment_submit input').prop('disabled', false);
    }, 500);
  });
  $(document).on('fos_comment_submitting_form', function (event, data) {
    $('.fos_comment_submit input').prop('disabled', true);
  });
  $(document).on('fos_comment_edit_comment', function (event, data) {
    
  });
});
</script>
{% endblock %}