<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dodir Nade{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/assets/css/bundled.min.css">
        {% endblock %}
    </head>
    <body class="{% block pageclass %}{% endblock %}">
    <div class="bw">
        <div class="fu">

            {% block sidebar %}
            <div class="ge aom">
                <nav class="aot">
                    <div class="aon">
                        <button class="amy amz aoo" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                            <span class="ct">Toggle nav</span>
                        </button>
                        <a class="aop cn" href="../index.html">
                            <h6 class="apd">Fondacija</h6>
                            <h2 class="apc">Dodir Nade</h2>
                        </a>
                    </div>

                    <div class="collapse and" id="nav-toggleable-sm">
                        <form action="{{ path('search') }}" class="aor">
                            <input class="form-control" name="q" type="text" placeholder="Search...">
                                <button type="submit" class="fm">
                                <span class="bv adn"></span>
                            </button>
                        </form>
                        <ul class="nav of nav-stacked">
                            <li class="tq">Dashboards</li>
                            <li >
                                <a href="{{ path('dashboard') }}">Overview</a>
                            </li>
                            <li >
                                <a href="{{ path("company_list") }}">Companies</a>
                            </li>
                            <li >
                                <a href="{{ path("contact_list") }}">Contacts</a>
                            </li>

                            <li class="tq">More</li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a></li>
                            {% endif %}
                        </ul>
                        <hr class="rw aky">
                    </div>
                </nav>
            </div>
            {% endblock sidebar %}

            <div class="hc aps">
            {% block subheader %}
                <div class="apa">
                    <div class="apb">
                        <h6 class="apd">{% block subheader_small_title %}Dashboard{% endblock %}</h6>
                        <h2 class="apc">{% block subheader_big_title %}Overview{% endblock %}</h2>
                    </div>
                    <div class="ob ape">
                        <div class="tn aol">
                            {% block subheader_actions %}
                                <a class="ce apn ame pull-right" href="#">
                                    <i class="fa fa-plus"></i>
                                    Create
                                </a>
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <hr class="aky">
            {% endblock subheader %}
            {% block body %}

            {% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript" src="/assets/js/bundled.min.js"></script>
    {% endblock %}
    </body>
</html>
