<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dodir Nade{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/assets/css/bundled.min.css">
        {% endblock %}
        {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script type="text/javascript" src="/assets/js/bundled.min.js"></script>
        {% endblock %}
    </head>
    <body class="{% block pageclass %}{% endblock %}">

    <div class="bw">
        <div class="fu">

            {% block sidebar %}
            <div class="ge aom">
                <nav class="aot">
                    <div class="aon">
                        <button class="amy amz aoo" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
                            <span class="ct">Toggle nav</span>
                        </button>
                    </div>

                    <div class="collapse and" id="nav-toggleable-sm">
                        <form action="{{ path('search') }}" class="aor">
                            <input class="form-control" name="q" type="text" placeholder="Search...">
                                <button type="submit" class="fm">
                                <span class="bv adn"></span>
                            </button>
                        </form>
                        <ul class="nav of nav-stacked">
                            <li class="tq">Sections</li>
                            <li >
                                <a href="{{ path('dashboard') }}">Overview</a>
                            </li>
                            <li >
                                <a href="{{ path("company_list") }}">Companies</a>
                            </li>
                            <li >
                                <a href="{{ path("contact_list") }}">Contacts</a>
                            </li>
                            <li >
                                <a href="{{ path("document_list") }}">Documents</a>
                            </li>

                            <li class="tq">Settings</li>
                            {% if app.user.userTenants|length > 1 %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Switch Account <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                    {% for userTenant in app.user.userTenants %}
                                        <li{% if userTenant.id == app.session.get('tenant').id %} class="active"{% endif %}><a href="?tenant_id={{ userTenant.id }}">{{ userTenant }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                        <hr class="rw aky">
                    </div>
                </nav>
            </div>
            {% endblock sidebar %}

            <div class="hc aps">
            {% block subheader %}
                <div class="apa">
                    <div class="col-xs-7 col-sm-8 col-lg-9">
                        <h6 class="apd">{% block subheader_small_title %}Dashboard{% endblock %}</h6>
                        <h2 class="apc">{% block subheader_big_title %}Overview{% endblock %}</h2>
                    </div>
                    <div class="col-xs-5 col-sm-4 col-lg-3" style="margin-top:12px; text-align: right">
                        <div class="tn aol">
                            {% block subheader_actions %}
                                <a class="ce apn ame pull-right" href="#">
                                    <i class="fa fa-plus"></i>
                                    Create
                                </a>
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <hr class="aky">
            {% endblock subheader %}
            {% block body %}

            {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
