<div class="row">
    <div class="col-lg-5">
        <div class="media">
            <a class="pull-left" href="{{ path("company_show", {"id": company.id }) }}">
                <img class="media-object dp img-responsive" src="{{ gravatar(company.id) }}" style="width:40px;height:40px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                <a href="{{ path("company_show", {"id": company.id }) }}" style="color:rgb(85, 85, 85)!important;">{{ company.name }}</a> <small>{{ company.persons|length }} contacts</small>
                <h5>Created: {{ company.createdAt|date("d.m.Y") }}; </h5>
            </div>
        </div>
        <hr />
    </div>
</div>