{% extends "AppBundle::layout.html.twig" %}

{% block subheader_small_title %}Company{% endblock %}
{% block subheader_big_title %}Create new{% endblock %}

{% block subheader_actions %}
    <a class="ce apn ame pull-right" href="{{ path("company_list") }}">
        <i class="fa fa-arrow-left"></i>
    </a>
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	    {{ form_errors(form) }}

	    {{ form_row(form.name) }}
	    {{ form_row(form.description) }}

	    {{ form_row(form.save, { 'label': 'Create Company' }) }}
	{{ form_end(form) }}
{% endblock %}