<p>Hello {{ mentionee | capitalize }}!</p>
<p>
	{{ mentioner | capitalize }} has created a new note for document <strong>{{ document.title }}</strong> and has mentioned you. You should probably take a look. <strong><a href="{{permalink}}#{{ comment.id }}">Click here to view note</a></strong></p>